body{
	margin:  0 auto;
	text-align: center;
	font-family:"Arial";
/*border nur zu testzwecken dann löschen*/
	border: 5px solid black;
}
header{
	background-color:red;
		border: 5px solid green;
		/*border nur zu testzwecken dann löschen*/
}
#topheader{
	padding: 10px;
	display: flex;	
	flex-flow: row;
	justify-content: space-around;
}
#navbartop{
	background-color: black;
	display: flex;	
	flex-flow: row;
}
.navi{
	padding: 15px;
	color:white;
}
.horbar{
	color:black;
	background-color:lightgrey;
	width: 80%;
}
#section1{
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin: 50px;
}

.insec1{
	width: 90%;
}

#section2{
	display: flex;
	justify-content: space-between;
}
.insec2{
	width: 90%;
}
#section3{
	display: flex;
	justify-content: space-between;
}
.insec3{
	width: 80%;
}

.onlymobile,.onlylarge{
	visibility: hidden;
}
@media screen and (max-width: 1099px) {
    .onlymobile{
        visibility: visible;
    }
}

@media screen and (min-width: 1100px) {
    .onlylarge{
        visibility: visible;
    }
}
footer{
	background-color: black;
	color:white;
}
