body{
	margin:  0 auto;
	text-align: center;
	font-family:"Arial";
	color: white;

}
a{
	color:white;
	text-decoration: none;
	
}
#topheader{
	padding: 10px;
	padding-top: 30px;
	margin-bottom: -32px;
	display: flex;	
	flex-flow: row;
	justify-content: space-around;
	background-color: #581819;
}
#navbartop{
	background-color: black;
	display: flex;	
	flex-flow: row;
	border-bottom: 50px;
	font-size: 2em;

}
#navbarbottom{
	background-color: black;
	display: flex;	
	flex-flow: row;
	border-bottom: 50px;
	justify-content: left;

}
.navi{
	padding: 15px;
	color:white;
}
#horbar1{
	color:black;
	background-color:lightgrey;
	width: 106%;
	text-align: left;
	margin-left: 1.8%;
	font-size: 2em;
}
#horbar2{
	color:black;
	background-color:lightgrey;
	width: 97%;
	text-align: left;
	margin-left: 1.8%;
	font-size: 2em;
}
#date{
	text-align: right;
	color: black;
	padding-right: 50px;
}
#section1{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.insec1{
	width: 90%;
}

#section2{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.insec2{
	width: 90%;
	height: 90%;
}
#section3{
	display: flex;
	justify-content: space-between;
	width: 95%;
	height: 95%;
}


.insec3{
	width: 80%;
	height: 80%;
}
#bannerbottom{
	width: 100%;
	height: 93%;
}

.onlymobile,.onlylarge{
	visibility: collapse;
}
@media screen and (max-width: 1099px) {
    .onlymobile{
        visibility: visible;
    }
}

@media screen and (min-width: 1100px) {
    .onlylarge{
        visibility: visible;
    }
}
footer{
	background-color: black;
	color:white;
}
.picdesc{
	background-color: black;
	width: 90%;
	margin-left: 5%;
	margin-top: -1%;
}
.picdesc3{
	background-color: black;
	width: 78%;
	margin-left: 10%;
	margin-top: -1%;
	margin-bottom: 10%;
	padding: 1%;
}


#clarge{
	display: flex;
	width: 92%;
}
#banner2p{
	width: 175%;
	height: 100%;
	padding: 50% 10% 10% 10%;

}
#banner3p{
	width: 70%;
	height: 70%;
	margin: 2%;
}
#logobottom{
	float: center;
	margin-left: 50%;
}

#bannerm{
	width: 90%;
	height: 90%;
}

@media screen and (max-width: 1100px) {
	#section1{
	display: flex;
    flex-direction: column;   	
	}

	.section11{
	display: flex;
    flex-direction: row;		
	}
	
	.section12{
	display: flex;
    flex-direction: row;
		
	}#section2{
	display: flex;
    flex-direction: column;
		
	}.insec1,.insec2,#bannerm{
		padding-top: 10px;
	
	}
