body{
	margin:  0 auto;
	text-align: center;
	font-family:"Arial";
}
#topheader{
	padding: 10px;
	margin-bottom: -20px;
	display: flex;	
	flex-flow: row;
	justify-content: space-around;
	background-color: #581819;
}
#navbartop{
	background-color: black;
	display: flex;	
	flex-flow: row;
	border-bottom: 50px;
}
#navbarbottom{
	background-color: black;
	display: flex;	
	flex-flow: row;
	border-bottom: 50px;
	justify-content: center;

}
.navi{
	padding: 15px;
	color:white;
}
.horbar{
	color:black;
	background-color:lightgrey;
	width: 80%;
	text-align: left;
	margin-left: 10%;

}
#section1{
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin: 50px;
}

.insec1{
	width: 90%;
}

#section2{
	display: flex;
	justify-content: space-between;
}
.insec2{
	width: 90%;
	height: 80%;
}
#section3{
	display: flex;
	justify-content: space-between;
}
.insec3{
	width: 90%;
	height: 80%;
}
#bannerbottom{
	width: 90%;
	height: 90%;
}

.onlymobile,.onlylarge{
	visibility: hidden;
}
@media screen and (max-width: 1099px) {
    .onlymobile{
        visibility: visible;
    }
}

@media screen and (min-width: 1100px) {
    .onlylarge{
        visibility: visible;
    }
}
footer{
	background-color: black;
	color:white;
}
.picdesc{
	background-color: black;
	width: 90%;
	margin-left: 5%;
	margin-top: -1%;
}
/*ab hier versuch mit media screen formatierung anzupassen*/
@media screen and (max-width: 1099px) {
    .onlymobile{
        visibility: visible;
    }
}